@import url('http://fonts.googleapis.com/css?family=Poppins: 200,233,400,500,60,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

f_body {
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    background: #333;
}

footer {

    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

footer .social_icons,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; 
    flex-wrap: wrap;
}

footer .social_icons li,
footer .menu li {
    list-style: none;

}

footer .social_icons li a {
    font-size: 2em;
    color:#fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icons li a:hover {
    transform: translate(10px);
}footer .social_icons li a {
    font-size: 2em;
    color:#fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}